---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
    title: string;
    description?: string;
}

const {
    title,
    description = "Personal site of David Torres, Gopher and backend developer",
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        class="bg-slate-900 text-slate-100 antialiased selection:bg-cyan-500 selection:text-white min-h-screen flex flex-col"
    >
        <Header />
        <div class="flex-1">
            <slot />
        </div>
        <Footer />
    </body>
</html>
